<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%; background-color:#f8f9fa;">
    <div class="text-center mb-3">
      <img src="/file5.png" alt="Logo" class="img-fluid" style="max-height: 200px; width: 200px;">
    </div><br />

    <form (ngSubmit)="onVerifyOtp()" #otpForm="ngForm" novalidate>
      <!-- OTP Field -->
      <div class="mb-3">
        <label class="form-label">Enter OTP</label>
        <input type="text" class="form-control" name="otp" [(ngModel)]="otp" required maxlength="6">
        <div *ngIf="submitted && !otp" class="text-danger small">
          Please enter OTP
        </div>
      </div>

      <!-- Verify OTP button -->
      <button type="submit" class="btn btn-primary w-100">
        Verify OTP
      </button>
    </form>

   <!--- <div *ngIf="errorMessage" class="text-danger mt-2 text-center">
      {{ errorMessage }}
    </div> -->
  </div>
</div>
